#home {
    height: calc(100vh - 4rem);
    width: 100vw;
    max-width: 75rem;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center; /* Centers children horizontally */
    justify-content: center;
    padding: 4rem; /* Adds padding around the entire section */
}

.aboutMeContainer {
    width: 100%; /* Takes full width of the parent */
    text-align: left; /* Aligns the title to the left */
    padding-left: 20px; /* Adjusts the padding to ensure alignment with the content below */
    margin-bottom: 20px; /* Adds some space between the title and the picture */
}

.aboutMeTitle {
    font-size: 3rem; /* Adjusts the font size of the title */
    font-weight: bold; /* Makes the title bold */
    color: white; /* Adjusts the color if needed */
    margin-bottom: 2rem; /* Removes default margins */
}

.container {
    display: flex;
    align-items: center; /* Keeps the image and intro content aligned vertically */
    justify-content: flex-start; /* Aligns content to the start (left) */
    flex-wrap: wrap; /* Allows items to wrap if necessary */
    padding-top: 2rem;
    /* Other styles remain unchanged */
}


.profilePic {
    border-radius: 50%;
    width: 18.75rem; /* 300px / 16 = 18.75rem */
    height: 18.75rem; /* 300px / 16 = 18.75rem */
    object-fit: cover;
    margin-right: 1.25rem; /* 20px / 16 = 1.25rem */
}

.introContent {
    max-width: 60%; /* Adjust as needed */
    text-align: left; /* Aligns the text to the left */
}

.introText {
    display: block; /* Ensures each span starts on a new line */
    font-size: 2rem; /* Adjust as needed */
    font-weight: 700;
}

.introPara {
    text-align: left;
    min-height: 12.5rem; /* 200px / 16 = 12.5rem */
    overflow: visible;
    width: 100%;
    margin: 1.25rem auto; /* 20px / 16 = 1.25rem */
    font-size: 1.3rem; /* Adjust as needed */
}

.cursor {
    display: inline-block;
    background-color: white;
    margin-left: 0.125rem; /* 2px / 16 = 0.125rem */
    width: 0.125rem; /* 2px / 16 = 0.125rem */
    height: 1em;
    animation: blink 1s infinite;
}

@keyframes blink {
    0%, 100% { opacity: 0; }
    50% { opacity: 1; }
}

@media screen and (max-width:720px) {
    .profilePic {
        width: 9.375rem; /* 150px / 16 = 9.375rem */
        height: 9.375rem; /* 150px / 16 = 9.375rem */
    }
    
    .aboutMeTitle {
        font-size: 2rem;
    }

    .introContent, .introText {
        font-size: 5vw; 
        max-width: 100%;
        font-size: 1.5rem;
    }

    .introPara {
        font-size: 4vw;
        margin: 1.25rem 0.625rem; /* 20px / 16 = 1.25rem and 10px / 16 = 0.625rem */
        font-size: 1rem;
    }

    .btn {
        font-size: 4vw;
    }
}
